:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --hero-text-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --active-color: #404bbf;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --hero-and-footer-bg-color: #2e2f42;

  --transition-duration: 250ms;
  --transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

/* 
// Reset elements' styles
*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 
// Utilities
*/

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .site-nav-list {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-open-btn {
    display: none;
  }
}

/* 
// index.html
*/

/* Header */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header-container {
    justify-content: flex-start;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .page-nav .link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* Header Logo */

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-header {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .page-nav > .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .page-nav > .logo {
    margin-right: 76px;
  }
}

/* Header Navigation */

@media screen and (min-width: 768px) {
  .site-nav-list {
    display: flex;
    gap: 40px;
  }

  .site-nav-link {
    position: relative;

    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color var(--transition-duration) var(--transition-timing-func);
  }

  .site-nav-link.current {
    color: var(--active-color);
  }

  .site-nav-link.current::after {
    content: '';
    width: 100%;
    height: 4px;

    position: absolute;
    bottom: -1px;

    background: #404bbf;
    border-radius: 2px;
  }

  .site-nav-link:hover,
  .site-nav-link:focus {
    color: var(--active-color);
  }
}

/* Header Contacts */

@media screen and (min-width: 768px) {
  .contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;

    transition: color var(--transition-duration) var(--transition-timing-func);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--active-color);
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--primary-bg-color);

  transform: translateX(100%);
  transition: transform var(--transition-duration) var(--transition-timing-func);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 428px;
  height: 100%;
  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.mobile-menu-open-btn {
  padding: 0;

  line-height: 0;

  background-color: transparent;
  border: none;
}

.mobile-menu-open-icon {
  stroke: #2e2f42;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;

  line-height: 0;

  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
}

.mobile-menu-close-icon {
  fill: #2e2f42;
}

.mobile-menu-site-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-site-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);

  transition: color var(--transition-duration) var(--transition-timing-func);
}

.mobile-menu-site-nav-link.current {
  color: var(--active-color);
}

.mobile-menu-site-nav-link:hover,
.mobile-menu-site-nav-link:focus {
  color: var(--active-color);
}

/* .mobile-menu-contacts {
  margin-top: auto;
} */

.mobile-menu-contacts-list {
  margin-bottom: 48px;
}

.mobile-menu-contacts-list-item:first-child {
  margin-bottom: 40px;
}

.mobile-menu-contacts-link-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}

.mobile-menu-contacts-link-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
}

.mobile-menu-social-media-list {
  display: flex;
  justify-content: space-between;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: #f4f4fd;
  background-color: var(--accent-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-func);
}

.social-media-icon {
  fill: currentColor;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

/* Hero */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-and-footer-bg-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
}

@media screen and (max-width: 428px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg-mobile@2x.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg-mobile@3x.jpg');
    }
  }
}

.hero-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.button.primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  padding: 16px 32px;

  color: var(--hero-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration)
    var(--transition-timing-func);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--active-color);
}

@media screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-tablet.jpg');
    max-width: 768px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg-tablet@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg-tablet@3x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/bg-desktop.jpg');
    max-width: 1158px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg-desktop@2x.jpg');
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero/bg-desktop@3x.jpg');
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* Features */

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-icon-thumb {
  display: none;
}

.feature-title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.feature-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .feature-icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--secondary-bg-color);
    border-radius: 4px;
  }

  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .feature-descr {
    font-weight: 400;
  }
}

/* Gallery */

.gallery {
  display: none;
}

@media screen and (min-width: 1158px) {
  .gallery {
    display: block;
  }
  .gallery.section {
    padding-top: 0;
  }

  .gallery-list {
    display: flex;
    gap: 24px;
  }

  .gallery-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* Employees */

.employees {
  background-color: var(--secondary-bg-color);
}

.employees-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.employees-list-item {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee-data {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.employee-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.employee-position {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4fd;

  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
    var(--transition-timing-func);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
}

@media screen and (min-width: 768px) {
  .employees-container {
    width: 584px;
  }

  .employees-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .employees-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .employees-container {
    width: 1158px;
  }

  .employees-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
  }

  .employees-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

/* Customers */

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-list-item {
  flex-basis: calc((100% - 1 * 16px) / 2);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color var(--transition-duration)
      var(--transition-timing-func),
    color var(--transition-duration) var(--transition-timing-func);
}

.customer-icon {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--active-color);
  color: var(--active-color);
}

@media screen and (min-width: 768px) {
  .customers-container {
    width: 584px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers-container {
    width: 1158px;
  }

  .customers-list {
    flex-wrap: nowrap;
  }

  .customers-list-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

/* Footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--hero-and-footer-bg-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  color: var(--footer-text-color);
}

.footer-logo .text {
  max-width: 268px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: #f4f4fd;
  background-color: var(--accent-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-func);
}

.social-media-icon {
  fill: currentColor;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subscribe-wrapper-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.subscribe-form-label {
  width: 100%;
}

.subscribe-form-email {
  width: 100%;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: transparent;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.subscribe-form-email::placeholder {
  color: #ffffff;
}

.subscribe-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;

  color: #ffffff;
  background: #4d5ae5;
}

.subscribe-btn-icon {
  fill: currentColor;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 24px;
    width: 584px;
  }

  .footer-logo {
    display: block;
  }

  .social-media {
    display: block;
  }

  .subscribe-wrapper {
    display: block;
    width: 453px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 0;
  }

  .subscribe-form-label {
    margin-right: 24px;
  }

  .subscribe-form-email {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    width: 1158px;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer .text {
    max-width: 264px;
  }

  .subscribe-wrapper {
    margin-left: auto;
  }
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  overflow: scroll;
  opacity: 1;
  visibility: visible;

  transition: opacity var(--transition-duration) var(--transition-timing-func),
    visibility var(--transition-duration) var(--transition-timing-func);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 392px;
  min-height: 584px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-func);
}

@media screen and (max-width: 392px) {
  .modal {
    width: 100%;
  }
}

@media screen and (max-height: 610px) {
  .modal {
    top: 300px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-duration)
      var(--transition-timing-func),
    border var(--transition-duration) var(--transition-timing-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--active-color);
  border: none;
}

.modal-close-icon {
  fill: var(--secondary-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-func);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--primary-bg-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-form-field-wrapper {
  margin-bottom: 8px;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-input-wrapper {
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--transition-duration)
    var(--transition-timing-func);
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: #2e2f42;

  transition: fill var(--transition-duration) var(--transition-timing-func);
}

.contact-form-input:focus {
  border-color: var(--accent-color);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-textarea-wrapper {
  margin-bottom: 16px;
}

.contact-form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition: border-color var(--transition-duration)
    var(--transition-timing-func);
}

.contact-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-textarea:focus {
  border-color: var(--accent-color);
}

.contact-form-pivacy {
  margin-bottom: 24px;
}

.contact-form-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
}

.contact-form-privacy-checkbox:checked
  + .contact-form-privacy-label
  > .contact-form-custom-checkbox {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
  border-color: #404bbf;
}

.contact-form-privacy-link {
  color: #4d5ae5;
}

.contact-form-btn-send {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;

  min-width: 169px;
  height: 56px;

  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color var(--transition-duration)
    var(--transition-timing-func);
}

.contact-form-btn-send:hover,
.contact-form-btn-send:focus {
  background-color: var(--active-color);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* 
// portfolio.html
*/

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.button.filter {
  padding: 8px 16px;
  color: var(--accent-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid #e7e9fc;

  transition: color var(--transition-duration) var(--transition-timing-func),
    background-color var(--transition-duration) var(--transition-timing-func),
    border-color var(--transition-duration) var(--transition-timing-func),
    box-shadow var(--transition-duration) var(--transition-timing-func);
}

.filter-list .button:hover,
.filter-list .button:focus {
  color: var(--hero-text-color);
  background-color: var(--active-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio Projects */

.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.project-link {
  display: block;
  color: inherit;

  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-func);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  display: none;
}

.project-data {
  padding: 32px 16px;
  border-top: 0;
}

.project-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.project-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .projects-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .projects-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .project-link {
    border: 1px solid #e7e9fc;
    box-shadow: none;

    transition: border var(--transition-duration) var(--transition-timing-func),
      box-shadow var(--transition-duration) var(--transition-timing-func);
  }

  .project-link:hover,
  .project-link:focus {
    border: 1px solid #f4f4fd;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .project-photo-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    padding: 40px 32px;
    width: 100%;
    height: 100%;

    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    overflow: auto;

    color: var(--secondary-bg-color);
    background-color: var(--accent-color);

    transform: translateY(100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-func);
  }

  .project-link:hover .overlay,
  .project-link:focus .overlay {
    transform: translateY(0);
  }
}
